2024 Actuals

In [53]:
import pandas as pd
import numpy as np

Actuals2024 = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC Actuals 2024.xlsx", sheet_name=None)


cols_to_drop = [
    'Legal Entity Legal Entity ID', 'Legal Entity Legal Entity Name',
    'Brand Code', 'Brand Name', 'Employee Status',
     'Last Name', 'First Name', 'Middle Name','Code', 
    'Position Title','Job Code Job Title','User/Employee ID',
    'Regular / Temporary', 'Employment Details Termination Date',
    'Parent Position', 'Department Code', 'Department Name',
    'Department Type', 'Location  Code', 'Location  Name',
    'Cost Center Code', 'Cost Center Name', 'Store Region Code',
    'Store Region Description', 'Store District Code',
    'Store District Description','New Department',
    'LegacyCompany', 'Legacy Company Code','Cost Center Description', 'Profit Center', 'Profit Center Description',
    'TabName'
]


#all_sheets = pd.read_excel(file_path, sheet_name=None)


Actuals = {}
for i, (sheet_name, df) in enumerate(Actuals2024.items(), start=4):
    df = df.drop(columns=[col for col in cols_to_drop if col in df.columns], errors='ignore')
    df['Time'] = f'2024.{i:02d}'
    df['Category'] = 'Actuals'
    Actuals[sheet_name] = df

# Example: Access cleaned DataFrame for a specific sheet
Actuals['P5 Actuals'].head()

combined_actuals = pd.concat(Actuals, ignore_index=True)
combined_actuals.drop(columns=['Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40'], inplace=True, errors='ignore')
combined_actuals

combined_actuals.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_Actuals_Combined1.xlsx", sheet_name='24Combined', index=False)

combined_actuals.head()

,GlempID,Job Code Job Code,New Location,New Cost Center,Time,Category
0,8000272046,14831,9012,USG0500095,2024.04,Actuals
1,AA00503463,15138,9012,USG0500095,2024.04,Actuals
2,AA00653218,14665,9012,USG0500095,2024.04,Actuals
3,5701190752,1300688,7001,USG1300019,2024.04,Actuals
4,8000207683,15121,7001,USG1300019,2024.04,Actuals

2025 Actuals

In [54]:
import pandas as pd
import numpy as np

Actuals2025 = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC Actuals 2025.xlsx", sheet_name=None)


cols_to_drop = [
    'Legal Entity Legal Entity ID', 'Legal Entity Legal Entity Name',
    'Brand Code', 'Brand Name', 'Employee Status',
     'Last Name', 'First Name', 'Middle Name', 
    'Position Title','Job Code Job Title','Code',
    'Regular / Temporary', 'Employment Details Termination Date',
    'Parent Position', 'Department Code', 'Department Name',
    'Department Type', 'Location  Code', 'Location  Name',
    'Cost Center Code', 'Cost Center Name', 'Store Region Code',
    'Store Region Description', 'Store District Code',
    'Store District Description','New Department','User/Employee ID',
    'LegacyCompany', 'Legacy Company Code','Cost Center Description', 'Profit Center', 'Profit Center Description',
    'TabName','VP','FP&A Owner'
]


#all_sheets = pd.read_excel(file_path, sheet_name=None)


Actuals = {}
for i, (sheet_name, df) in enumerate(Actuals2025.items(), start=1):
    df = df.drop(columns=[col for col in cols_to_drop if col in df.columns], errors='ignore')
    df['Time'] = f'2025.{i:02d}'
    df['Category'] = 'Actuals'
    Actuals[sheet_name] = df

# Example: Access cleaned DataFrame for a specific sheet
Actuals['P4 Actuals'].head()

combined_actuals = pd.concat(Actuals, ignore_index=True)
combined_actuals.drop(columns=['Unnamed: 37','Unnamed: 38','Unnamed: 39','Unnamed: 40'], inplace=True, errors='ignore')
combined_actuals

combined_actuals.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_Actuals_Combined2.xlsx", sheet_name='25Combined', index=False)

combined_actuals.head()

,GlempID,Job Code Job Code,New Location,New Cost Center,Time,Category
0,8000405452,1300318,7901,USG0700010,2025.01,Actuals
1,5701183336,14659,7601,USG0500005,2025.01,Actuals
2,5701042254,14659,7901,USG0500005,2025.01,Actuals
3,US00176241,15138,7930,USG0500005,2025.01,Actuals
4,5701190752,1300688,7001,USG1300019,2025.01,Actuals

Combine Actuals

2025 FCST2

In [55]:
import pandas as pd
import numpy as np

df = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC FCST2.xlsx")

df.columns = df.iloc[6]
df = df.iloc[7:].reset_index(drop=True)

# Drop unnecessary columns
df.drop([
    'Entity ', 'Entity Description', 'Brand', 'First and Last Name', 
    'Cost Center', 'Financial Dept ID', 'SAP Cost Center Description','SAP Cost Center',
    'Position Code #', 'Position Title', 'Rpts To Name', 'Rpts to Position Title',
    'Finance Contact Name', 'Salary Grade', 'Reviewer Notes',
    'Choose Appropriate Status from List:  New Role / Open Role / Filled Role / Role being Eliminate / Intern / Co-op  (Default is "Flled Role" for roles w/names and "Open Role" for Vacant postions)',
    'Remove Listed Position for ENTIRE Year? (Y/N) - (ex. On list in error OR position cancelled)',
    'Starting Period for New Role that will begin after 1/2/25 (P1)',
    'Period Role will be eliminated (ex. Restructure, etc)','Position / Reference #',
    'Starting Period for Intern (default assumption is summer interns are P5 thru P8 - please modify if different)',
    'Ending Period for Intern  (default assumption is summer interns are P5 thru P8 - please modify if different)',
    'Starting Period for Co-op (default assumption is co-ops are year round employees - please modify if different)',
    'Ending Period for Co-op (default assumption is co-ops are year round employees - please modify if different)',
    'Updated Associate Name', 'Updated Position Title', 'Updated Salary Grade',
    'Updated Company #             (For re-organization - employees moving between companies)',
    'Updated Financial Dept #', 'Updated SAP Cost Center #', 'Updated Cost Center Description',
    'Non approved positions  / Non-Core Roles (Y/N) ', 'Open Role', 'Start Period', 'End Period',
    'Start Date', 'End Date', 'Final Name', 'Final Position Title',
    'Original Salary Grade', 'Final Salary Grade', 'Salary Plan', 'Final Department',
    'Final Cost Center Description', 'Final Company'
], axis=1, inplace=True)
df = df.loc[:, ~df.columns.isna()]

# Identify all period columns (e.g., 'P01 2025', 'P02 2025', etc.)
period_cols = [col for col in df.columns if isinstance(col, str) and col.startswith('P') and '2025' in col]

# Identifier columns (all columns before the first period column)
first_period_idx = list(df.columns).index(period_cols[0])
id_cols = df.columns[:first_period_idx].tolist()

# Write one sheet per period, keeping only id_cols + the matching period column
with pd.ExcelWriter("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_FCST2_Periods.xlsx") as writer:
    for i, period_col in enumerate(period_cols, start=1):
        cols_to_keep = id_cols + [period_col]
        temp = df[cols_to_keep].copy()
        temp.rename(columns={period_col: 'Headcount'}, inplace=True)
        temp['Time'] = f'2025.{str(i).zfill(2)}'
        temp['Category'] = 'FCST2'
        temp.to_excel(writer, sheet_name=f'P{str(i).zfill(2)}_2025', index=False)

# ...existing code...

# Path to your multi-sheet Excel file
file = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_FCST2_Periods.xlsx"

# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(file, sheet_name=None)

# Concatenate all DataFrames into one
combined = pd.concat(all_sheets.values(), ignore_index=True)

combined = combined.rename(columns={'Global ID': 'GlempID',})

combined = combined.drop(columns=['Global ID.1','Global ID.2','Global ID.3'])




# Save the combined DataFrame to a new file
combined.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_FCST2_Combined.xlsx", sheet_name='Combined', index=False)

combined.head()

  GlempID Location Job Code # Final Cost Center  Headcount     Time Category
0       0     7001      14930        USG0500008          1  2025.01    FCST2
1       0     7001      14930        USG0500081          1  2025.01    FCST2
2       0     7001      14930        USG0500081          1  2025.01    FCST2
3       0     7001      14930        USG0500081          1  2025.01    FCST2
4       0     7001      14930        USG0500081          1  2025.01    FCST2

2024 F4

In [56]:
import pandas as pd
import numpy as np

df = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC F4BUD.xlsx", sheet_name='HC Template F4')

df.columns = df.iloc[6]
df = df.iloc[7:].reset_index(drop=True)
df.columns

df.drop(['Position / Reference #', 'Entity ', 'Entity Description', 'Brand','First and Last Name',  'Cost Center', 'Financial Dept ID','SAP Cost Center Description',  'SAP Cost Center', 
                  'Position Title', 'Rpts To Name', 'Rpts to Position Title',
    'Finance Contact Name', 'Salary Grade', 'Reviewer Notes',
    'Choose Appropriate Status from List:  New Role / Open Role / Filled Role / Role being Eliminate / Intern / Co-op  (Default is "Flled Role" for roles w/names and "Open Role" for Vacant postions)',
    'Remove Listed Position for ENTIRE Year? (Y/N) - (ex. On list in error OR position cancelled)',
    'Starting Period for New Role that will begin after 1/2/23 (P1)',
    'Period Role will be eliminated (ex. Restructure, etc)','Position Code #',
    'Starting Period for Intern (default assumption is summer interns are P5 thru P8 - please modify if different)',
    'Ending Period for Intern  (default assumption is summer interns are P5 thru P8 - please modify if different)',
    'Starting Period for Co-op (default assumption is co-ops are year round employees - please modify if different)',
    'Ending Period for Co-op (default assumption is co-ops are year round employees - please modify if different)',
    'Updated Associate Name', 'Updated Position Title', 'Updated Salary Grade',
    'Updated Company #             (For re-organization - employees moving between companies)',
    'Updated Financial Dept #', 'Updated SAP Cost Center #', 'Updated Cost Center Description',
    'Non approved positions (RBS & CEO only) / Non-Core Roles (Y/N) (Food Lion only)',
    'Open Role', 'Start Period', 'End Period', 'Start Date', 'End Date',
    'Final Name', 'Final Position Title', 'Original Salary Grade', 'Final Salary Grade',
    'Salary Plan', 'Salary/Hourly', 'Final Department', 
    'Final Cost Center Description', 'Final Company'
], axis=1, inplace=True)

df = df.loc[:, ~df.columns.isna()]

df.head(3)
# Identify all period columns (e.g., 'P01 2025', 'P02 2025', etc.)
period_cols = [col for col in df.columns if isinstance(col, str) and col.startswith('P') and '2024' in col]

# Identifier columns (all columns before the first period column)
first_period_idx = list(df.columns).index(period_cols[0])
id_cols = df.columns[:first_period_idx].tolist()

# Write one sheet per period, keeping only id_cols + the matching period column
with pd.ExcelWriter("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_F4BUD_Periods.xlsx") as writer:
    for i, period_col in enumerate(period_cols, start=7):
        cols_to_keep = id_cols + [period_col]
        temp = df[cols_to_keep].copy()
        temp.rename(columns={period_col: 'Headcount'}, inplace=True)
        temp['Time'] = f'2024.{str(i).zfill(2)}'
        temp['Category'] = 'FCST4'
        temp.to_excel(writer, sheet_name=f'P{str(i).zfill(2)}_2024', index=False)

# ...existing code...


# Path to your multi-sheet Excel file
file = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_F4BUD_Periods.xlsx"

# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(file, sheet_name=None)

# Concatenate all DataFrames into one
combined = pd.concat(all_sheets.values(), ignore_index=True)

combined = combined.rename(columns={'Global ID': 'GlempID',})

combined = combined.drop(columns=['Global ID.1','Global ID.2','Global ID.3'])


# Save the combined DataFrame to a new file
combined.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_F4BUD_Combined.xlsx", sheet_name='Combined', index=False)

combined.head()

,GlempID,Location,Job Code #,Final Cost Center,Headcount,Time,Category
0,AA00162226,7001.0,1300483.0,USG0400003,1.0,2024.07,FCST4
1,NaN,7001.0,14873.0,USG0500031,1.0,2024.07,FCST4
2,US00033338,7001.0,14877.0,USG0400003,1.0,2024.07,FCST4
3,US00357321,7101.0,1301409.0,USG0200014,1.0,2024.07,FCST4
4,US00034131,7001.0,1300702.0,USG0900010,1.0,2024.07,FCST4

2024 BUDGET

In [57]:
import pandas as pd
import numpy as np

df = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC F4BUD.xlsx", sheet_name='HC Template BUDGET')

df.columns = df.iloc[6]
df = df.iloc[7:].reset_index(drop=True)
df.columns

df.drop(['Position / Reference #', 'Entity ', 'Entity Description', 'Brand','First and Last Name',  'Cost Center', 'Financial Dept ID','SAP Cost Center Description',  'SAP Cost Center', 
                  'Position Title', 'Rpts To Name', 'Rpts to Position Title',
    'Finance Contact Name', 'Salary Grade', 'Reviewer Notes',
    'Choose Appropriate Status from List:  New Role / Open Role / Filled Role / Role being Eliminate / Intern / Co-op  (Default is "Flled Role" for roles w/names and "Open Role" for Vacant postions)',
    'Remove Listed Position for ENTIRE Year? (Y/N) - (ex. On list in error OR position cancelled)',
    'Starting Period for New Role that will begin after 1/2/23 (P1)',
    'Period Role will be eliminated (ex. Restructure, etc)','Position Code #',
    'Starting Period for Intern (default assumption is summer interns are P5 thru P8 - please modify if different)',
    'Ending Period for Intern  (default assumption is summer interns are P5 thru P8 - please modify if different)',
    'Starting Period for Co-op (default assumption is co-ops are year round employees - please modify if different)',
    'Ending Period for Co-op (default assumption is co-ops are year round employees - please modify if different)',
    'Updated Associate Name', 'Updated Position Title', 'Updated Salary Grade',
    'Updated Company #             (For re-organization - employees moving between companies)',
    'Updated Financial Dept #', 'Updated SAP Cost Center #', 'Updated Cost Center Description',
    'Non approved positions (RBS & CEO only) / Non-Core Roles (Y/N) (Food Lion only)',
    'Open Role', 'Start Period', 'End Period', 'Start Date', 'End Date',
    'Final Name', 'Final Position Title', 'Original Salary Grade', 'Final Salary Grade',
    'Salary Plan', 'Salary/Hourly', 'Final Department', 
    'Final Cost Center Description', 'Final Company'
], axis=1, inplace=True)

df = df.loc[:, ~df.columns.isna()]

df.head(3)
# Identify all period columns (e.g., 'P01 2025', 'P02 2025', etc.)
period_cols = [col for col in df.columns if isinstance(col, str) and col.startswith('P') and '2025' in col]
# Identifier columns (all columns before the first period column)
first_period_idx = list(df.columns).index(period_cols[0])
id_cols = df.columns[:first_period_idx].tolist()

# Write one sheet per period, keeping only id_cols + the matching period column
with pd.ExcelWriter("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_BUD_Periods.xlsx") as writer:
    for i, period_col in enumerate(period_cols, start=1):
        cols_to_keep = id_cols + [period_col]
        temp = df[cols_to_keep].copy()
        temp.rename(columns={period_col: 'Headcount'}, inplace=True)
        temp['Time'] = f'2024.{str(i).zfill(2)}'
        temp['Category'] = 'BUDGET'
        temp.to_excel(writer, sheet_name=f'P{str(i).zfill(2)}_2024', index=False)

# ...existing code...


# Path to your multi-sheet Excel file
file = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_BUD_Periods.xlsx"

# Read all sheets into a dictionary of DataFrames
all_sheets = pd.read_excel(file, sheet_name=None)

# Concatenate all DataFrames into one
combined = pd.concat(all_sheets.values(), ignore_index=True)

combined = combined.rename(columns={'Global ID': 'GlempID',})

combined = combined.drop(columns=['Global ID.1','Global ID.2','Global ID.3'])

# Save the combined DataFrame to a new file
combined.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_BUD_Combined.xlsx", sheet_name='Combined', index=False)

combined.head()

,GlempID,Location,Job Code #,Final Cost Center,Headcount,Time,Category
0,AA00162226,7001.0,1300483.0,USG0400003,1.0,2024.01,BUDGET
1,NaN,7001.0,14873.0,USG0500031,1.0,2024.01,BUDGET
2,US00033338,7001.0,14877.0,USG0400003,1.0,2024.01,BUDGET
3,US00357321,7101.0,1301409.0,USG0200014,1.0,2024.01,BUDGET
4,US00034131,7001.0,1300702.0,USG0900010,1.0,2024.01,BUDGET

Merge FCST2 FCST4 AND BUDGET

In [3]:
import pandas as pd

# Paths to the combined files
budget_path = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_BUD_Combined.xlsx"
fcst4_path = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_F4BUD_Combined.xlsx"
fcst2_path = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_FCST2_Combined.xlsx"

# Read the combined sheets
budget = pd.read_excel(budget_path, sheet_name='Combined')
fcst4 = pd.read_excel(fcst4_path, sheet_name='Combined')
fcst2 = pd.read_excel(fcst2_path, sheet_name='Combined')

# Concatenate all three DataFrames
merged = pd.concat([budget, fcst4, fcst2], ignore_index=True)

merged = merged.rename(columns={'Final Cost Center': 'CC','Job Code #': 'Job Code',})

merged = merged.drop(columns=['Headcount'])

merged['Location'] = pd.to_numeric(merged['Location'], errors='coerce')
merged['Job Code'] = pd.to_numeric(merged['Job Code'], errors='coerce')

merged = merged.dropna()
# Save the merged DataFrame to a new Excel file
merged.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_BUD_FCST4_FCST2_Merged.xlsx", 
                sheet_name='Merged', index=False)


    # Add more mappings as needed

merged.head()

      GlempID  Location   Job Code          CC     Time Category
0  AA00162226    7001.0  1300483.0  USG0400003  2024.01   BUDGET
2  US00033338    7001.0    14877.0  USG0400003  2024.01   BUDGET
3  US00357321    7101.0  1301409.0  USG0200014  2024.01   BUDGET
4  US00034131    7001.0  1300702.0  USG0900010  2024.01   BUDGET
6  5701063439    7901.0  1300729.0  USG0400003  2024.01   BUDGET

Combine 2024 and 2025 Actuals

In [5]:
# Read the two combined files
combined_24 = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_Actuals_Combined1.xlsx", sheet_name='24Combined')
combined_25 = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_Actuals_Combined2.xlsx", sheet_name='25Combined')

# Append (concatenate) the two DataFrames
combined_both = pd.concat([combined_24, combined_25], ignore_index=True)

combined_both = combined_both.rename(columns={'New Cost Center': 'CC','Job Code Job Code': 'Job Code','New Location': 'Location',})

#combined_both = combined_both.drop(columns=['GlempID','Code'])

combined_both['Location'] = pd.to_numeric(combined_both['Location'], errors='coerce')
combined_both['Job Code'] = pd.to_numeric(combined_both['Job Code'], errors='coerce')

combined_both = combined_both.dropna()

# Save as a new sheet in the same Excel file
combined_both.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_Actuals_Combined.xlsx", sheet_name='24_25_Combined', index = False) 

combined_both.head()

      GlempID  Job Code  Location          CC     Time Category
0  8000272046     14831      9012  USG0500095  2024.04  Actuals
1  AA00503463     15138      9012  USG0500095  2024.04  Actuals
2  AA00653218     14665      9012  USG0500095  2024.04  Actuals
3  5701190752   1300688      7001  USG1300019  2024.04  Actuals
4  8000207683     15121      7001  USG1300019  2024.04  Actuals

Combine Actuals and FCST/BUDGET

In [ ]:
import pandas as pd

# Paths to the files
merged_path = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_BUD_FCST4_FCST2_Merged.xlsx"
combined_both_path = "c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_Actuals_Combined.xlsx"

# Read the files (use the correct sheet names)
merged = pd.read_excel(merged_path, sheet_name='Merged')
combined_both = pd.read_excel(combined_both_path, sheet_name='24_25_Combined')

# Concatenate the DataFrames
all_combined = pd.concat([merged, combined_both], ignore_index=True)

all_combined['Location'] = pd.to_numeric(all_combined['Location'], errors='coerce')
all_combined['Job Code'] = pd.to_numeric(all_combined['Job Code'], errors='coerce')
numeric_cols = all_combined.select_dtypes(include='number').columns
all_combined = all_combined[~(all_combined[numeric_cols] == 0).all(axis=1)]



all_combined = all_combined.dropna()
# Save to a new Excel file
all_combined.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC_All_Combined.xlsx",sheet_name='AllCombined',index=False)

all_combined.head()

      GlempID  Location  Job Code          CC     Time Category
0  AA00162226      7001   1300483  USG0400003  2024.01   BUDGET
1  US00033338      7001     14877  USG0400003  2024.01   BUDGET
2  US00357321      7101   1301409  USG0200014  2024.01   BUDGET
3  US00034131      7001   1300702  USG0900010  2024.01   BUDGET
4  5701063439      7901   1300729  USG0400003  2024.01   BUDGET

In [45]:
import pandas as pd
from prophet import Prophet
#from Cython.Build.Inline import _get_build_extension

path = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/Vacancy.xlsx", sheet_name= 'Vacancy (IT Only)')

path.columns = path.iloc[3]
path = path.iloc[4:].reset_index(drop=True)

# Drop columns where the column name is NaN
path = path.loc[:, ~path.columns.isna()]

cols_to_remove = ['621111 - Base Wages and Salaries - Exempt (Salary)', 'Wages', 'Account']
path = path.drop(columns=[col for col in cols_to_remove if col in path.columns], errors='ignore')



path.head()

3,Cost Center,Time,Category,LC - Local Currency,Adj. Account
0,USG0500007 - Supply Chain Solutions - F&R,2023.01 - P01 2023,ACTUAL - Actual,158954.54,Wages
1,USG0500007 - Supply Chain Solutions - F&R,2023.01 - P01 2023,FCST2 - Forecast 2,158954.54,Wages
2,USG0500007 - Supply Chain Solutions - F&R,2023.01 - P01 2023,FCST1 - Forecast 1,227102.63,Wages
3,USG0500007 - Supply Chain Solutions - F&R,2023.01 - P01 2023,FCST1 - Forecast 1,1078.203646,Wages
4,USG0500007 - Supply Chain Solutions - F&R,2023.01 - P01 2023,FCST1 - Forecast 1,1707.732745,Wages

Vacancy

In [33]:
import pandas as pd
from prophet import Prophet
#from Cython.Build.Inline import _get_build_extension

path = pd.read_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/Vacancy.xlsx", sheet_name= 'Vacancy (IT Only)')

path.columns = path.iloc[3]
path = path.iloc[4:].reset_index(drop=True)

# Drop columns where the column name is NaN
path = path.loc[:, ~path.columns.isna()]

# Drop columns '621111 - Base Wages and Salaries - Exempt (Salary)' and 'Wages' if they exist
cols_to_remove = ['621111 - Base Wages and Salaries - Exempt (Salary)', 'Wages', 'Account']
path = path.drop(columns=[col for col in cols_to_remove if col in path.columns], errors='ignore')

# Remove rows where all values are NaN
path = path.dropna(how='any').reset_index(drop=True)

# Filter where Category contains 'Actual' and 'Adj. Account' is 'HC'
HCActuals = path[path['Category'].str.contains('Actual', case=False, na=False) & (path['Adj. Account'] == 'HC') & (path['Cost Center'] == 'VP_IT_ENG - VP_IT ENG')  ].reset_index(drop=True)

#HCActuals = HCActuals[~HCActuals['Cost Center'].str.contains(r'\d', na=False)].reset_index(drop=True)

# Split the 'Time' column into two new columns
HCActuals[['Time.1', 'Time.2']] = HCActuals['Time'].str.split(' - ', expand=True)

HCActuals[['CC 1', 'CC.2']] = HCActuals['Cost Center'].str.split(' - ', expand=True)

HCActuals = HCActuals.drop(columns=['Time','Time.2', 'Adj. Account','Category','CC 1', 'CC.2'], errors='ignore')

HCActuals = HCActuals.rename(columns={"Time.1" : "ds", "LC - Local Currency": "y"})

HCActuals['ds'] = pd.to_datetime(HCActuals['ds'], format='%Y.%m') + pd.offsets.MonthEnd(0)

HCActuals.head()

3            Cost Center   y         ds
0  VP_IT_ENG - VP_IT ENG  56 2023-10-31
1  VP_IT_ENG - VP_IT ENG  53 2023-11-30
2  VP_IT_ENG - VP_IT ENG  52 2023-12-31
3  VP_IT_ENG - VP_IT ENG  53 2024-01-31
4  VP_IT_ENG - VP_IT ENG  51 2024-02-29

Prophet Modl Predicting IT ENG CC HC

In [24]:
from prophet import Prophet

modl = Prophet(interval_width=0.95)
modl.fit(HCActuals)
future = modl.make_future_dataframe(periods=12, freq='ME')
forecast = modl.predict(future)

output = forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].round(1)

Prophet = pd.merge(output, HCActuals[['Cost Center','ds',  'y']], on='ds', how='left')

HCActuals['Time'] = HCActuals['ds'].dt.strftime('%Y.%m')


Prophet = Prophet.rename(columns={"y": "LC - Local Currency","yhat": "Forecast", "yhat_lower": "Lower Bound", "yhat_upper": "Upper Bound"})

Prophet = Prophet[['Cost Center','ds',  'LC - Local Currency', 'Forecast', 'Lower Bound', 'Upper Bound']]

Prophet = Prophet.rename(columns={'Cost Center': 'CC','LC - Local Currency': 'HC','Forecast': 'FCST HC','Lower Bound': 'Lower','Upper Bound': 'Upper'})


Prophet.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/Prophet_Forecast_Output.xlsx", index=False)

Prophet

17:35:34 - cmdstanpy - INFO - Chain [1] start processing
17:35:34 - cmdstanpy - INFO - Chain [1] done processing

                       CC         ds   HC  FCST HC  Lower  Upper
0   VP_IT_ENG - VP_IT ENG 2023-10-31   56     54.1   52.3   56.0
1   VP_IT_ENG - VP_IT ENG 2023-11-30   53     53.5   51.6   55.4
2   VP_IT_ENG - VP_IT ENG 2023-12-31   52     52.9   50.9   54.8
3   VP_IT_ENG - VP_IT ENG 2024-01-31   53     52.3   50.3   54.0
4   VP_IT_ENG - VP_IT ENG 2024-02-29   51     51.7   49.9   53.5
5   VP_IT_ENG - VP_IT ENG 2024-03-31   51     51.1   49.1   52.9
6   VP_IT_ENG - VP_IT ENG 2024-04-30   50     50.5   48.7   52.4
7   VP_IT_ENG - VP_IT ENG 2024-05-31   49     49.9   48.1   52.0
8   VP_IT_ENG - VP_IT ENG 2024-06-30   48     49.6   47.6   51.6
9   VP_IT_ENG - VP_IT ENG 2024-07-31   49     49.4   47.5   51.3
10  VP_IT_ENG - VP_IT ENG 2024-08-31   49     49.1   47.2   51.0
11  VP_IT_ENG - VP_IT ENG 2024-09-30   50     48.9   46.9   50.6
12  VP_IT_ENG - VP_IT ENG 2024-10-31   50     48.6   46.7   50.6
13  VP_IT_ENG - VP_IT ENG 2024-11-30   50     48.4   46.5   50.2
14  VP_IT_ENG - VP_IT ENG 2024-12-31   49     48.1   46.3   50.1
15  VP_IT_ENG - VP_IT ENG 2025-01-31   47     47.9   46.0   49.6
16  VP_IT_ENG - VP_IT ENG 2025-02-28   47     47.6   45.8   49.6
17  VP_IT_ENG - VP_IT ENG 2025-03-31   47     47.4   45.5   49.4
18  VP_IT_ENG - VP_IT ENG 2025-04-30   48     47.1   45.2   49.1
19  VP_IT_ENG - VP_IT ENG 2025-05-31   46     46.9   45.0   48.7
20                    NaN 2025-06-30  NaN     46.6   44.8   48.5
21                    NaN 2025-07-31  NaN     46.4   44.7   48.1
22                    NaN 2025-08-31  NaN     46.1   44.2   48.0
23                    NaN 2025-09-30  NaN     45.9   44.1   47.8
24                    NaN 2025-10-31  NaN     45.6   43.9   47.6
25                    NaN 2025-11-30  NaN     45.4   43.3   47.4
26                    NaN 2025-12-31  NaN     45.1   43.1   47.2
27                    NaN 2026-01-31  NaN     44.9   43.0   47.0
28                    NaN 2026-02-28  NaN     44.6   42.5   46.8
29                    NaN 2026-03-31  NaN     44.4   42.1   46.6
30                    NaN 2026-04-30  NaN     44.1   41.8   46.5
31                    NaN 2026-05-31  NaN     43.9   41.5   46.3

In [41]:
import pandas as pd
from prophet import Prophet

# Filter for Actuals and HC only (remove Cost Center filter)
HCActuals = path[path['Category'].str.contains('Actual', case=False, na=False) & 
                 (path['Adj. Account'] == 'HC')].reset_index(drop=True)

# Split the 'Time' column into two new columns
HCActuals[['Time.1', 'Time.2']] = HCActuals['Time'].str.split(' - ', expand=True)

#HCActuals[['CC.1', 'CC.2']] = HCActuals['Cost Center'].str.split(' - ', expand=True)

# Prepare output DataFrame
all_forecasts = []

# Loop through each Cost Center
for cc in HCActuals['Cost Center'].unique():
    cc_df = HCActuals[HCActuals['Cost Center'] == cc].copy()
    if cc_df.empty:
        continue
    cc_df = cc_df.drop(columns=['Time','Time.2', 'Adj. Account','Category'], errors='ignore')
    cc_df['Time.1'] = pd.to_datetime(cc_df['Time.1'], format='%Y.%m') + pd.offsets.MonthEnd(0)
    cc_df = cc_df.rename(columns={"Time.1" : "ds", "LC - Local Currency": "y"})
    cc_df = cc_df[['ds', 'y']].dropna()
    if len(cc_df) < 2:  # Prophet needs at least 2 data points
        continue
    modl = Prophet(interval_width=0.95)
    modl.fit(cc_df)
    # Forecast until end of 2026
    last_date = cc_df['ds'].max()
    months_to_forecast = ((2026 - last_date.year) * 12 + (12 - last_date.month))
    future = modl.make_future_dataframe(periods=months_to_forecast, freq='M')
    forecast = modl.predict(future)
    output = forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].round(1)
    output['Cost Center'] = cc
    # Merge actuals for comparison
    output = pd.merge(output, cc_df, on='ds', how='left')
    all_forecasts.append(output)

# Combine all forecasts
result = pd.concat(all_forecasts, ignore_index=True)
result['Cost Center'] = result['Cost Center'].str.split('-').str[0].str.strip()

result['Integer'] = result['ds'].dt.strftime('%Y.%m')

result = result.rename(columns={"y": "Actual HC","yhat": "Forecast","yhat_lower": "Lower Bound","yhat_upper": "Upper Bound"})
result = result[['Cost Center', 'ds', 'Actual HC', 'Forecast', 'Lower Bound', 'Upper Bound','Integer']]
result.to_excel("c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/Prophet_Forecast_All_CostCenters.xlsx", index=False)

result.head()

22:44:39 - cmdstanpy - INFO - Chain [1] start processing
22:44:39 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:39 - cmdstanpy - INFO - Chain [1] start processing
22:44:40 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:40 - cmdstanpy - INFO - Chain [1] start processing
22:44:40 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:40 - cmdstanpy - INFO - Chain [1] start processing
22:44:40 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:40 - cmdstanpy - INFO - Chain [1] start processing
22:44:40 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:40 - cmdstanpy - INFO - Chain [1] start processing
22:44:40 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:40 - cmdstanpy - INFO - Chain [1] start processing
22:44:40 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:40 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:41 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:41 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:41 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:41 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:41 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:41 - cmdstanpy - INFO - Chain [1] start processing
22:44:41 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:42 - cmdstanpy - INFO - Chain [1] start processing
22:44:42 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:43 - cmdstanpy - INFO - Chain [1] start processing
22:44:43 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:43 - cmdstanpy - INFO - Chain [1] start processing
22:44:43 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:43 - cmdstanpy - INFO - Chain [1] start processing
22:44:43 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:43 - cmdstanpy - INFO - Chain [1] start processing
22:44:43 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:43 - cmdstanpy - INFO - Chain [1] start processing
22:44:43 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:43 - cmdstanpy - INFO - Chain [1] start processing
22:44:44 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:44 - cmdstanpy - INFO - Chain [1] start processing
22:44:44 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:44 - cmdstanpy - INFO - Chain [1] start processing
22:44:44 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:44 - cmdstanpy - INFO - Chain [1] start processing
22:44:44 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:44 - cmdstanpy - INFO - Chain [1] start processing
22:44:44 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:44 - cmdstanpy - INFO - Chain [1] start processing
22:44:44 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:45 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:45 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:45 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:45 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:45 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:45 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:45 - cmdstanpy - INFO - Chain [1] start processing
22:44:46 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:46 - cmdstanpy - INFO - Chain [1] start processing
22:44:46 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:46 - cmdstanpy - INFO - Chain [1] start processing
22:44:46 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:46 - cmdstanpy - INFO - Chain [1] start processing
22:44:46 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:46 - cmdstanpy - INFO - Chain [1] start processing
22:44:46 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:46 - cmdstanpy - INFO - Chain [1] start processing
22:44:46 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:47 - cmdstanpy - INFO - Chain [1] start processing
22:44:47 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:47 - cmdstanpy - INFO - Chain [1] start processing
22:44:47 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:47 - cmdstanpy - INFO - Chain [1] start processing
22:44:47 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:47 - cmdstanpy - INFO - Chain [1] start processing
22:44:47 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:47 - cmdstanpy - INFO - Chain [1] start processing
22:44:47 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:47 - cmdstanpy - INFO - Chain [1] start processing
22:44:48 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:48 - cmdstanpy - INFO - Chain [1] start processing
22:44:48 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(
22:44:48 - cmdstanpy - INFO - Chain [1] start processing
22:44:48 - cmdstanpy - INFO - Chain [1] done processing
c:\Users\p40033f\AppData\Local\anaconda3\Lib\site-packages\prophet\forecaster.py:1854: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  dates = pd.date_range(

,Cost Center,ds,Actual HC,Forecast,Lower Bound,Upper Bound,Integer
0,USG0500007,2023-10-31,17,17.1,14.6,19.7,2023.10
1,USG0500007,2023-11-30,17,17.0,14.5,19.5,2023.11
2,USG0500007,2023-12-31,17,16.9,14.2,19.4,2023.12
3,USG0500007,2024-01-31,18,16.9,14.5,19.6,2024.01
4,USG0500007,2024-02-29,17,16.8,14.1,19.5,2024.02

Extra: JOB HIERARCHY

In [40]:
import pandas as pd

# Read your data (replace with your actual file path or DataFrame)
df = pd.read_excel('c:/Users/p40033f/OneDrive - AholdDelhaize.com/Forecast Accuracy/Data Source Files/HC Hierarchy.xlsx', sheet_name = 'Job Hierarchy')  # or pd.read_excel(...)

# Define mapping rules for Title lvl2 and Title lvl3
def map_title_levels(row):
    title = str(row['Job Title']).lower()
    if 'vp' in title or 'evp' in title or 'svp' in title:
        return pd.Series(['VP', 'VP'])
    if 'director' in title:
        return pd.Series(['Director', 'Director'])
    if 'manager' in title or 'hrbp' in title:
        return pd.Series(['Manager', 'Manager'])
    if 'supervisor' in title or 'supv' in title:
        return pd.Series(['Supervisor', 'Analyst'])
    if 'analyst' in title or 'consultant' in title or 'specialist' in title or 'coordinator' in title or 'product owner' in title or 'counsel' in title or 'paralegal' in title or 'buyer' in title:
        return pd.Series(['Analyst', 'Analyst'])
    if 'admin' in title or 'administrator' in title or 'clerk' in title or 'executive asst' in title or 'admin asst' in title:
        return pd.Series(['Admin', 'Admin'])
    if 'intern' in title or 'co-op' in title:
        return pd.Series(['Intern', 'Intern'])
    if 'it engineer' in title or 'software engineer' in title or 'architect' in title or 'domain architect' in title:
        return pd.Series(['IT/Software Engineer', 'IT/Software Engineer'])
    if 'other' in title:
        return pd.Series(['OTHER', 'OTHER'])
    return pd.Series([row['Title lvl2'], row['Title lvl3']])

# Apply the mapping
df[['Title lvl2', 'Title lvl3']] = df.apply(map_title_levels, axis=1)

# Save or return the revised DataFrame
#df.to_excel('revised_job_levels.csv', index=False)
df.head()

   Job Code                                Job Title  Title lvl2 Title lvl3
0   5001124             Director II - Communications    Director   Director
1   5000954  Analyst II - Human Resources - Salaried     Analyst    Analyst
2   5000638          Supervisor I - Com Serv & Strat  Supervisor    Analyst
3   5000118              Admin II - Com Serv & Strat       Admin      Admin
4   1301798                   Executive Asst II - IT       Admin      Admin